extends ./../template/template.pug

//- mixin block-color(props={})   блок с примерами цвета
//- mixin color-side(props={})    размещает сторону с цветными блоками. Использует block-color
//- mixin type-side(props = {})   размещает сторону с описанием тегов и примерами шрифтов
//- mixin free-space(props={})    задает отступ по ширине и/или высоте
//-vars


block append meta
  meta(name="keywords", content="toxin, color and types")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист color&types")


block title
  | Color and Type

block main
  - var elementsColorAndType = 'elements-color-and-type';
  section(class="" +elementsColorAndType )
    .elements-color-and-type__logo
      +logo({mods: 'gray'})
  +free-space({height: '60px'})
