.rate-button {
  display: inline-flex;
  cursor: pointer;
  justify-content: flex-start;

  &__star:after {
    background: $PrimaryGradient;
    color: transparent;
    content: "star_border";
    -webkit-background-clip: text;
    background-clip: text;
  }

  &__star_full:after {
    background: $PrimaryGradient;
    color: transparent;
    content: "star";
    -webkit-background-clip: text;
    background-clip: text;
  }
}

span.rate-button__star {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  /* Preferred icon size */
  display: inline-block;
  // line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}