//index page
include ../mixins/page-menu.pug

//- Mixins in Color page
include ../mixins/free-space.pug
include ../mixins/block-color.pug
include ../mixins/color-side.pug
include ../mixins/type-side.pug

//- Mixins in Form page
include ../mixins/block-lib-self-title.pug
include ../mixins/block-lib.pug


//- Components // Подключение компонентов из папки компонентов
include ../../components/logo/logo.pug
include ../../components/text-field/text-field.pug
include ../../components/buttons/buttons.pug
include ../../components/dropdown/dropdown.pug
