//index page
include ../mixins/page-menu.pug

//- Mixins in Color page
include ../mixins/free-space.pug
include ../mixins/block-color.pug
include ../mixins/color-side.pug
include ../mixins/type-side.pug

//- Mixins in Form page
include ../mixins/block-lib-self-title.pug
include ../mixins/block-lib.pug


//- Components // Подключение компонентов из папки компонентов
include ../../components/logo/logo.pug
include ../../components/text-field/text-field.pug
include ../../components/buttons/buttons.pug
include ../../components/dropdown/dropdown.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/subscription-text-field/subscription-text-field.pug
include ../../components/field-checkbox/field-checkbox.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
