extends ../template/template.pug

//- mixin free-space(props={})    задает отступ по ширине и/или высоте
//- mixin block-lib(props={})               размещение блока без собственного заголовка
//- mixin block-lib-self-title(props={})    размещение блока с собственным заголовком

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист form-elements")

block title
  | Form Elements

