@import '../template/template';
@import '../../components/logo/logo';
@import '../../components/text-field/text-field';
@import '../../components/dropdown/dropdown';
@import '../../components/buttons/buttons';
@import '../../components/masked-text-field/masked-text-field';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/filter-date-dropdown/filter-date-dropdown';
@import '../../components/subscription-text-field/subscription-text-field';
@import '../../components/checkbox-buttons/checkbox-buttons';
@import '../../components/radio-buttons/radio-buttons';
@import '../../components/toggle/toggle';
@import '../../components/like-button/like-button';
@import '../../components/rate-button/rate-button';
@import '../../components/range-slider/range-slider';
@import '../../components/pagination/pagination.scss';
@import '../../components/expandable-checkbox-list/expandable-checkbox-list';
@import '../../components/rich-checkbox-buttons/rich-checkbox-buttons';
@import '../../components/bullet-list/bullet-list';
@import '../../components/icon-text/icon-text';
@import '../../components/icon-text-list/icon-text-list';
@import '../../components/comment/comment';


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.free-space {
  content: '';
}

.elements-form-elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  //БОРДЕР
  border: 1px solid rgb(218, 157, 25);

  &__logo {
    padding-top: 35px;
    padding-left: 23px;
  }

  &__column {
    flex-basis: 320px;
    border: 2px solid rgb(36, 35, 128);
  }

  &__column:nth-child(2) {
    padding-left: 3.6%;
  }

  &__column:first-child {
    padding-left: 9.3%;
  }

  &__column:last-child {
    padding-right: 10.3%;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__half-column {
    width: 50%;
  }

  &__half-column:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

.block-lib {
  border: 1px solid rgb(69, 146, 54);
  padding-bottom: 21px;

  &__description-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__block-row {
    padding-top: 5px;
  }

  &__title {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  &__mods {
    text-align: right;
    line-height: 15px;
    font-size: 12px;
  }
}

.elements-form-elements:last-of-type {
  justify-content: flex-start;
}

.elements-form-elements:last-of-type .elements-form-elements__column:last-child {
  padding-left: 10%;
}

.block-lib {
  padding-bottom: 21px;

  &__description-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__block-row {
    padding-top: 5px;
  }

  &__title {
    // font-family: Montserrat;
    // font-style: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  &__mods {
    // font-family: Montserrat;
    // font-style: normal;
    // font-weight: normal;
    text-align: right;
    line-height: 15px;
    font-size: 12px;
  }
}