extends ../template/template.pug

//- mixin free-space(props={})    задает отступ по ширине и/или высоте
//- mixin block-lib(props={})               размещение блока без собственного заголовка
//- mixin block-lib-self-title(props={})    размещение блока с собственным заголовком

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист form-elements")

block title
  | Form Elements

block main
  - var elementsFormElements = 'elements-form-elements';
  section(class="" +elementsFormElements )
    .elements-form-elements__logo
      +logo({mods: 'gray'})
  +free-space({height: '60px'})


  section(class="" +elementsFormElements )
    //- Левый блок

    .elements-form-elements__column
      +block-lib({title: 'TEXT FIELD', mods:'DEFAULT', width: '320px'})
        +text-field({placeholder: 'Email'})


      +block-lib({title: 'TEXT FIELD', mods:'HOVER / FOCUS', width: '320px'})
        +text-field({mods: 'focused', placeholder: 'This is pretty awesome'})


      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +dropdown({
          moduleClass: 'dropdown-visitors',
          isBtnClear: true,
          isBtnSubmit: true,
          dropStrings: [
            {lineTitle: 'ВЗРОСЛЫЕ', maxCount: '5'},
            {lineTitle: 'ДЕТИ', maxCount: '5'},
            {lineTitle: 'МЛАДЕНЦЫ', maxCount: '5',
            isCountSeparate: true,
            namingForCount: 'младенец,младенца,младенцев'}
          ],
          namingForAll: 'гость,гостя,гостей',
          namingForEmpty: 'Сколько гостей'
          })


      +block-lib({title: 'MASKED-TEXT-FIELD', mods: 'DEFAULT', width: '320px'})
        +masked-text-field({
          placeholder: 'ДД.ММ.ГГГ',
          maskType: 'date'})


      +block-lib({width: '320px'})
        +free-space({height: '14px'})
        .elements__container
          .elements__half-column
            +block-lib({title: 'DATE DROPDOWN', width: '150px'})
              +date-dropdown({})

          .elements__half-column
            +block-lib({title: 'DATE DROPDOWN', width: '150px'})
              +date-dropdown({placeholder: '19.08.2019'})


      +block-lib({title: 'filter date dropdown', width: '266px'})
        +filter-date-dropdown({placeholder: '19 авг - 23 авг'})


      +free-space({height: '20px'})
      +block-lib({title: 'SUBSCRIPTION TEXT FIELD', width: '266px'})
        +subscription-text-field({placeholder: 'Email'})


    //-средний блок
    .elements-form-elements__column
      +block-lib-self-title({width: '222px'})
        +checkbox-buttons({
            listTitle: 'CHECKBOX BUTTONS',
            moduleClass: 'check-list-buttons',
            dropStrings: [
              {dataName: 'checkbox-smoking',
              labelTitle: 'Можно курить'},
              {dataName: 'checkbox-pets',
              labelTitle: 'Можно с питомцами',
              checked: true},
              {dataName: 'checkbox-guests',
              labelTitle: 'Можно пригласить гостей (до 10 человек)',
              checked: true},
              ]
            })


      +free-space({height: '22px'})
      +block-lib-self-title({width: '220px'})
        +radio-buttons({
          labelTitle: 'RADIO BUTTONS',
          radioButtonsSet: 'radio-battons-test',
          buttonsList: [
            {buttonTitle: 'Мужчина',
            buttonValue: 'man',
            checked: true},
            {buttonTitle: 'Женщина',
            buttonValue: 'woman'}
            ]
          })


      +free-space({height: '16px'})
      +block-lib({title: 'TOGGLE', width: '320px'})
        +free-space({height: '10px'})
        +toggle({
          labelTitle: 'Получать спецпредложения',
          moduleClass: 'field-toggle-test',
          checked: true
          })
        +free-space({height: '15px'})
        +toggle({
          labelTitle: 'Получать спецпредложения',
          moduleClass: 'field-toggle-test',
          checked: false
          })


      +free-space({height: '24px'})
      +block-lib({title: 'LIKE BUTTON', width: '90px'})
        +free-space({height: '10px'})
        .elements__container
          .elements__half-column
            +like-button({
              labelTitle: '2',
              dataName: 'like-button-test'
              })
          .elements__half-column
            +free-space({width: '7px'})
            +like-button({
              labelTitle: '12',
              dataClass: 'like-button-test',
              checked: true
              })


      +free-space({height: '20px'})
      +block-lib({title: 'RATE-BUTTON', width: '260px'})
        +free-space({height: '5px'})
        .elements__container
          .elements__half-column
            +block-lib({width: '120px'})
              +rate-button({
                rate: '4'
              })
          .elements__half-column
            +block-lib({width: '120px'})
              +rate-button({
                rate: '5'
              })


    //- Правый блок
    .elements-form-elements__column
      +block-lib-self-title({width: '266px'})
        +range-slider({
          lineTitle: 'RANGE SLIDER',
        })


      +free-space({height: '12px'})
      +block-lib({title: 'BUTTONS', width: '218px'})
        +free-space({height: '12px'})
        .elements__container
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'full'
              })
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'full, hover'
              })


      +block-lib-self-title({title: '', width: '218px'})
        +free-space({height: '8px'})
        .elements__container
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'border'
              })
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'border, hover'
              })


      +block-lib({title: '', width: '142px'})
        .elements__container
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'link'
              })
          .elements__half-column
            +buttons({
              lineTitle: 'CLICK ME',
              mods: 'link, dark'
              })


      +block-lib({title: '', width: '320px'})
        +buttons({
          lineTitle: 'ПЕРЕЙТИ К ОПЛАТЕ',
          mods: 'full, arrow, big'
          })


      +free-space({height: '20px'})
      +block-lib({title: 'PAGINATION', width: "240px"})
        +free-space({height: '10px'})
        +pagination({})


  //- Нижний ряд
  +free-space({height: '79px'})
  section(class="" +elementsFormElements )
    .elements-form-elements__column
      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '266px'})
        +dropdown({
          moduleClass: 'dropdown-envarenment-close',
          isBtnClear: false,
          isBtnSubmit: false,
          dropStrings: [
            {lineTitle: 'СПАЛЬНИ', maxCount: '2',
            isCountSeparate: true,
            namingForCount: 'спальня,спальни,спален'},
            {lineTitle: 'КРОВАТИ', minCount: '1', maxCount: '4',
            isCountSeparate: true,
            namingForCount: 'кровать,кровати,кроватей'},
            {lineTitle: 'ВАННЫЕ КОМНАТЫ', maxCount: '2',
            isCountSeparate: true,
            namingForCount: 'ванная комната,ванных комнаты,ванных комнат'}
          ],
          namingForAll: '',
          namingForEmpty: 'Выбрать удобства'
          })


      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '266px'})
        +dropdown({
          moduleClass: 'dropdown-envarenment-open',
          mods: 'open',
          isBtnClear: false,
          isBtnSubmit: false,
          dropStrings: [
            {lineTitle: 'СПАЛЬНИ', maxCount: '2',
            isCountSeparate: true,
            namingForCount: 'спальня,спальни,спален'},
            {lineTitle: 'КРОВАТИ', minCount: '1', maxCount: '4',
            isCountSeparate: true,
            namingForCount: 'кровать,кровати,кроватей'},
            {lineTitle: 'ВАННЫЕ КОМНАТЫ', maxCount: '2',
            isCountSeparate: true,
            namingForCount: 'ванная комната,ванных комнаты,ванных комнат'}
          ],
          namingForAll: '',
          namingForEmpty: 'Выбрать удобства'
          })


    .elements-form-elements__column
      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +dropdown({
          moduleClass: 'dropdown-visitors-without-clear',
          mods: 'open',
          isBtnClear: false,
          isBtnSubmit: true,
          dropStrings: [
            {lineTitle: 'ВЗРОСЛЫЕ', maxCount: '5'},
            {lineTitle: 'ДЕТИ', maxCount: '5'},
            {lineTitle: 'МЛАДЕНЦЫ', maxCount: '5',
            isCountSeparate: true,
            namingForCount: 'младенец,младенца,младенцев'}
          ],
          namingForAll: 'гость,гостя,гостей',
          namingForEmpty: 'Сколько гостей'
          })


    .elements-form-elements__column
      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +dropdown({
          moduleClass: 'dropdown-visitors-clear',
          mods: 'open',
          isBtnClear: true,
          isBtnSubmit: true,
          dropStrings: [
            {lineTitle: 'ВЗРОСЛЫЕ', maxCount: '5'},
            {lineTitle: 'ДЕТИ', maxCount: '5'},
            {lineTitle: 'МЛАДЕНЦЫ', maxCount: '5',
            isCountSeparate: true,
            namingForCount: 'младенец,младенца,младенцев'}
          ],
          namingForAll: 'гость,гостя,гостей',
          namingForEmpty: 'Сколько гостей'
          })



  +free-space({height: '79px'})
  section(class="" +elementsFormElements )

  +free-space({height: '190px'})
  section.elements
