extends ../template/template.pug

//- Миксины используемые на странице описаны в конце
//- mixin free-space(props={})    задает отступ по ширине и/или высоте



block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Headers & Footers")

block title
  |
  = 'Headers & Footers'