extends ./pages/template/template.pug


append vars
  -
    const pageColorTypes = {linkPage: 'colors-and-types.html', namePage: 'COLOR & TYPES'}
    const pageFormElement = {linkPage: 'form-elements.html', namePage: 'FORM ELEMENTS'}

    const pageList = [pageColorTypes, pageFormElement]


block title
  | Learning project. Main menu


block main
  +page-menu({items: pageList})