extends ./pages/template/template.pug


append vars
  -
    const pageFormElement = {linkPage: 'form-elements.html', namePage: 'FORM ELEMENTS'}


    const pageList = [pageColorTypes]


block title
  | Learning project. Main menu


block main
  +page-menu({items: pageList})