extends ./pages/template/template.pug


append vars
  -
    const pageColorTypes = {linkPage: 'colors-and-types.html', namePage: 'COLOR & TYPES'}


    const pageList = [pageColorTypes]


block title
  | Learning project. Main menu


block main
  +page-menu({items: pageList})